<ng-container *ngIf="employeeForm">

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="id">Id</label>
          <input type="number" id="id" formControlName="id">
        </div>
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name">
        </div>
      
        <div>
          <label for="department">Department</label>
          <input type="text" id="department" formControlName="department">
        </div>
      
        <div>
          <label for="position">Position</label>
          <input type="text" id="position" formControlName="position">
        </div>
      
        <div>
          <label for="salary">Salary</label>
          <input type="number" id="salary" formControlName="salary">
        </div>

        <div style="display: flex; column-gap: 0.5rem; justify-content: flex-end;">
          <button style="width: 5rem; background-color: lightslategray; cursor: pointer" (click)="cancel()">Cancel</button>
          <button style="width: 5rem; background-color: lightskyblue; cursor: pointer" type="submit" [disabled]="employeeForm.invalid">Save</button>
        </div>
      </form>
      
</ng-container>
